<!-- Solo cargamos los recursos si usamos el mapa -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

{{ $lat := .Get "lat" | default "-34.6037" }}
{{ $lon := .Get "lon" | default "-58.3816" }}
{{ $zoom := .Get "zoom" | default "5" }}
{{ $texto := .Get "texto" }}
{{ $id := delimit (shuffle (seq 1 9)) "" }}

<!-- Contenedor del mapa -->
<div id="mapa-{{ $id }}" style="height: 400px; width: 100%; border-radius: 8px; border: 1px solid var(--color-bordes); margin: 2rem 0; z-index: 1;"></div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Inicializa el mapa
        var map = L.map('mapa-{{ $id }}', {
    scrollWheelZoom: false,      // Evita el zoom accidental con la ruedita en PC
    dragging: !L.Browser.mobile, // Bloquea el arrastre en celulares (permite hacer scroll en la nota)
    tap: !L.Browser.mobile       // Previene toques fantasma en pantallas táctiles
}).setView([{{ $lat }}, {{ $lon }}], {{ $zoom }});
        
        // Usamos un diseño de mapa muy limpio y analítico (CartoDB)
        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 20
        }).addTo(map);

        // Agrega el pin si pusiste texto
        {{ if $texto }}
        L.marker([{{ $lat }}, {{ $lon }}]).addTo(map)
            .bindPopup("<b style='font-family: var(--fuente-principal); font-size: 0.9rem;'>{{ $texto }}</b>")
            .openPopup();
        {{ end }}
    });
</script>
